ul.booksBlock {
  margin: 0 0 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #e8e8e8;
}

ul li.bookBlock {
  margin: 0;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1em;
}

li.bookBlock button {
  background: unset;
  border: unset;
}

li.book_option {
  margin: 1em 0 0;
  padding: 0 1em;
  border-right: 1px solid #e8e8e8;
}

li.book_option:first-child {
  padding-left: 0;
}

li.book_option:last-child {
  border-right: none;
}
