.panel_bg {
  margin: 0 0 2.375rem;
  padding: 0 6em;
  background-color: #fff;
  display: flex;
  align-items: center;
}

ul {
  margin: 0 0 0 2em;
  list-style: none;
  padding: 0;
}

li {
  margin: 0 2em;
}

li a {
  text-decoration: none;
}
