body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6fa;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

/* common styles */
main {
  padding: 0 6em;
}

button {
  cursor: pointer;
}

::placeholder {
  color: #e8e8e8;
}

/* common classes */
.blue_color {
  color: #0290ff;
}

.pale_blue_color {
  color: #4386bf;
}

.grey_color {
  color: #949494;
}

.pale_grey_color {
  color: #e8e8e8;
}

.black_color {
  color: #121212;
}

.d-flex {
  display: flex;
}

.margin-0 {
  margin: 0;
}

.text_capitalize {
  text-transform: capitalize;
}

.p_0 {
  padding: 0;
}

.text_center {
  text-align: center;
}
